body {
  font-family: arial, sans-serif;
  color: #ffffff;
}
@media only screen and (max-width: 1800px) {
  #forecast {
    display: flex;
    flex-direction: column;
  }
  #forecastImg {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
h1 {
  font-weight: 600;
  font-size: 1.25rem;
}
.container {
  border-radius: 6px;
  margin: 30px auto;
  box-shadow: 2px 2px 2px 2px #024359;
  display: block;
  margin: 0 auto;
  width: 35%;
  padding: 20px;
}
#degree {
  position: relative;
  float: right;
}
#topContainer {
  margin-top: 5%;
  background-color: #2688a5;
  background: linear-gradient(to bottom, #046f94, #a2d3dc 20%, #f3fafc 100%)
    fixed;
  border: 1px solid #30859e;
  padding-bottom: 2%;
}
.col {
  display: flex;
  flex-direction: row;
}
#bottomContainer {
  background-color: #ffffff;
  border: 1px solid #30859e;
  color: black;
}
#forecastImg {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.row weather-forecast {
  display: flex;
  flex-direction: row;
}
#search-bar {
  float: right;
  padding-right: 5%;
  padding-top: 2%;
}
.colTwo {
  padding-left: 20%;
  font-weight: 700;
  font-size: 1.125rem;
}
.info {
  padding-top: 5%;
  padding-left: 5%;
}
.row {
  padding-left: 5%;
}

#date {
  font-size: 1.125rem;
  opacity: 0.65;
  font-weight: 400;
}
.colOne {
  font-size: 6rem;
  font-weight: 700;
  text-align: left;
}
#degree,
p {
  font-size: 1.5rem;
  font-weight: 700;
}
#searchBtn,
#currentLocation {
  background-color: #30859e;
  color: #ffffff;
  border: #30859e;
  border-radius: 2px;
  height: 20px;
}
#description,
#date::first-letter {
  text-transform: capitalize;
}
.countries {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 15px;
  margin-left: 5px;
}
#city {
  display: flex;
  flex-direction: row;
}

.weatherTemp .active {
  cursor: default;
  color: #30859e;
}
.code {
  display: block;
  margin: 0 auto;
  width: 35%;
  text-align: center;
  color: #024359;
}
.underline {
  text-decoration: none;
  color: #d73068;
}
.socialMedia {
  display: block;
  margin: 0 auto;
  width: 35%;
  text-align: center;
}
